<h1>Listing Builds</h1>

<table>
  <thead>
    <tr>
      <th>Hero</th>
      <th colspan="3"></th>
    </tr>   
  </thead>

  <TBODY>
    <% @builds.each do |build| %>
      <tr>
        <td><%= build.name %></td>
        <td><a href="<%= build.url %>"><%= build.url%></a></td>
      </tr>
    <% end %>
  </TBODY>
</table>